/*colors and fonts*/
body {
	background: rgb(230, 230, 230);
color: rgb(50, 50, 50);
font-family: Merriweather;
font font-size: 17px;
font-weight: light;
}
h1 {
	color: purple;
	font-size: 36px;
	font-weight: 900;
}
h2{color: purple;
	font-size: 24px;
	font-weight: 400;
}

a {text-decoration: none;
	color: purple;
	font-weight: 400;
}
a:hover {
	color: blueviolet;
}

/*custom design with class*/

.container{
	width:700px;
margin: 40px auto;
}

.card-white {
    background: white;
    padding: 60px;
    border-radius: 6px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;    
}
.card-white ul{
	list-style: none;
}

.img-circle {
	border-radius: 50%;
}

.btn-purple {background-color: lightyellow;
	padding: 15px 20px;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	

}

.list-inline li {
display: inline;
padding: 10px auto;
}

.list-inline i{
font-size: 50px;
color: purple;
}
.list-inline i: hover {
color: black;
}

#introduction p {
	margin-bottom: 40px;
	align-content: center;
}